* {
  box-sizing: border-box;
}

html, body {
  font-family: "Avenir Next W01","AvenirNextLTW01-Medium";
  margin: 0;
  background: #f6f9fc;
  height: 100%;
}

h1, ul, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
}

input:before {
  content: '';
  width: 20px;
  height: 20px;
  background: red;
  opacity: .5;
  border-radius: 50%;
}

ul {
  -webkit-appearance: none;
  -moz-appearance: none;
}
