* {
  box-sizing: border-box;
}

html, body {
  font-family: "Avenir Next W01","AvenirNextLTW01-Medium";
  margin: 0;
  background: #f6f9fc;
  height: 100%;
}

h1, ul, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

ul {
  -webkit-appearance: none;
  -moz-appearance: none;
}
